In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import csv
import io
from zipfile import ZipFile

In [2]:
import datetime 
base = datetime.date(2020,2,1)
for i in range(0,10): 
    d=base + datetime.timedelta(i)
    d=d.strftime("%Y%m%d")
    print(f"N029kakutokuruiseki{d}.csv")

N029kakutokuruiseki20200201.csv
N029kakutokuruiseki20200202.csv
N029kakutokuruiseki20200203.csv
N029kakutokuruiseki20200204.csv
N029kakutokuruiseki20200205.csv
N029kakutokuruiseki20200206.csv
N029kakutokuruiseki20200207.csv
N029kakutokuruiseki20200208.csv
N029kakutokuruiseki20200209.csv
N029kakutokuruiseki20200210.csv

In [3]:
from datetime import datetime, timedelta

def date_range(start_date: datetime, end_date: datetime):
    diff = (end_date - start_date).days + 1
    return (start_date + timedelta(i) for i in range(diff))

In [4]:
#pandasの表示列数を増やす
import pandas as pd
pd.set_option('display.max_columns', 100)

In [5]:
column_names = ['異動年月日','カード加入日','会員カード発行区分','データ区分','代表顧客番号個人',
                'カード申込み番号個人','カード会員番号個人','顧客番号個人','続柄個人','法人番号',
                '法人契約組織番号','法人カード申込み番号','カード会社コードカードコード',
                'カード提携方式コードカードコード','カード提携会社（１）カードコード',
                'カード提携会社（２）カードコード','カード種類コードカードコード',
                'ブランドコードカードコード','銀行番号','支店番号','郵便番号','住所コード','会員種別',
                '重複入会承認コード','切替コード','勧誘コード','審査コード','受付部支店コード','企業コード',
                '決済ネットコード', '職業コード', '役職コード','返済種別コード',
                '性別コード', '生年月日', '再発行コード', 'テイクワン・トータルパック②', 'カード会社コード旧カードコード',
                 'カード提携方式コード旧カードコード', 'カード提携会社（１）旧カードコード', 'カード提携会社（２）旧カードコード',
                 'カード種類コード旧カードコード','ブランドコード旧カードコード',
                '郵便番号上５桁','郵便番号下２桁','勧誘源コード','入会申込書番号','ＴＯ契約番号','ＴＯ設置番号','ＴＯ申込書連番',
                'ＴＯ種類コード','ＴＯ契約先業種コード','ＴＯ契約部店コード','ＴＯ更新部店コード','ＴＯ設置先会加銀識別コード',
                'ＴＯ設置先会加銀番号','仮登録申込受付部店コード','営業手法別コード','帳票用続柄コード','情報系処理日',
                'ＴＯグループ番号','東西区分',
                '受付部支店東西区分','受付部支店コード仮登録申込みＤＢ','ＴＯグループ支店番号','提携担当営業部店コード（西）',
                '提携担当営業部店コード（東）','提携募集方式コード','ＳＭＢＣ獲得部店','申し込み組織番号','法人勧誘源コード','ＴＯ契約先会加銀識別コード',
                'ＴＯ契約先会加銀番号','満年齢','リボ支払方法コード','ＦＳコード','入会申込書番号枝番','仮登録日','結果登録日',
                '勧誘団体コード','提携カード特殊エリア','提携先顧客番号１','提携先顧客番号２','会員証番号', '提携先任意コード',
                '指定エンボス内容','営業手法別コード（法人）','カード年会費コード','リボ利用対象コード','顧客卒業年度','余白']

In [6]:
data_dir = Path("C:/Users/yakad\Documents/Yusuke_Akada_Jupyter_Notebook-master/file")

In [7]:
import datetime 
base = datetime.date(2020,2,14)
for i in range(0,1): 
    d=base + datetime.timedelta(i)
    d=d.strftime("%Y%m%d")
    df = pd.read_csv(data_dir /f"N029kakutokuruiseki{d}.csv",sep=',' ,names=column_names,
                 dtype={'リボ支払方法コード':str,
                        '提携カード特殊エリア':str,
                        '提携先顧客番号１':str,
                        '提携先顧客番号２':str,
                        '提携先任意コード':str,
                        '指定エンボス内容':str,
                        'カード会社コード旧カードコード':str,
                        'カード提携方式コード旧カードコード':str,
                        'カード種類コード旧カードコード':str,
                       'カード提携会社（１）旧カードコード':str,
                       'カード提携会社（２）旧カードコード':str})
    df_trim=df[['カード加入日','会員カード発行区分','代表顧客番号個人','カード会員番号個人','顧客番号個人','続柄個人',
                'カード会社コードカードコード','カード提携方式コードカードコード',
                'カード提携会社（１）カードコード','カード提携会社（２）カードコード','カード種類コードカードコード',
                '住所コード','会員種別','重複入会承認コード','切替コード','勧誘コード','審査コード','受付部支店コード',
                '職業コード', '役職コード','性別コード', 
                'カード会社コード旧カードコード',
                 'カード提携方式コード旧カードコード', 'カード提携会社（１）旧カードコード', 'カード提携会社（２）旧カードコード',
                 'カード種類コード旧カードコード',
                '郵便番号上５桁','郵便番号下２桁',
                '満年齢','リボ支払方法コード',
                '仮登録日','結果登録日',
                '提携カード特殊エリア']]

In [8]:
df_trim.head()

,カード加入日,会員カード発行区分,代表顧客番号個人,カード会員番号個人,顧客番号個人,続柄個人,カード会社コードカードコード,カード提携方式コードカードコード,カード提携会社（１）カードコード,カード提携会社（２）カードコード,カード種類コードカードコード,住所コード,会員種別,重複入会承認コード,切替コード,勧誘コード,審査コード,受付部支店コード,職業コード,役職コード,性別コード,カード会社コード旧カードコード,カード提携方式コード旧カードコード,カード提携会社（１）旧カードコード,カード提携会社（２）旧カードコード,カード種類コード旧カードコード,郵便番号上５桁,郵便番号下２桁,満年齢,リボ支払方法コード,仮登録日,結果登録日,提携カード特殊エリア
0,20200213,1,155200135012,04980132188815002C,155200135012,0,155,10,D00,1,31,5926015002,1,0,0,8,0,106,9,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,12,20200212,20200213,20
1,20200213,1,155200352567,07801550001607639C,155200352567,0,155,92,D00,95,0,5824243006,1,0,0,0,8,1,1,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74,NaN,20200213,20200213,NaN
2,20200213,1,155200353581,04980132188561002C,155200353581,0,155,10,D00,1,31,5834030005,1,0,0,8,0,106,9,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,52,20200130,20200213,20
3,20200213,1,155200560664,04980671595645007C,155200560664,0,155,10,D02,1,2,5806253003,1,0,0,3,0,101,0,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60,12,20200213,20200213,NaN
4,20200213,1,155200560664,04980671595645015C,155233432923,3,155,10,D02,1,2,5806253003,1,0,0,3,0,101,0,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87,12,20200213,20200213,NaN

In [191]:
df_trim.to_csv('n29.csv', sep=',', index=False, encoding='utf_8_sig')